extends base.pug

block scripts
  script(src='../public/index.js')
block style
  style
      include ../public/style.css
      include ../public/styleContact.css


block content
  div#ContactSection
    h1 Contact Us
        //- form(action= “/contact”, method= “post, class= “myForm”)
    form(action="", method="post" class="myFrom")
     <input type="text"class= “name” name="name" placeholder="Enter your name..">
     <input type="phone" class= “myInput” name="phone" placeholder="Enter your name..">
     <input type="email" class= “myInput” name="email" placeholder="Enter your email..">
     textarea(name="address", cols="30", rows="10", placeholder="Writa a message")
     button.btn Submit 
     