extends base.pug

block scripts
  script(src='../public/index.js')
block style
  style
      include ../public/style.css

block content
    
    section#introSection
        div Welcome to Sunny Dance Academy
        div.small Eat Sleep Dance Repeat

    section#cardSection
     h2 Our Mission
     div.card-section 
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                     img(src="/public/img/card-1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                      img(src="/public/img/card-2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/public/img/card-3.png")

                div.card-content
                    p This is the best dance academy of the universe

    section#SponserSection
      h2 Our Sponser
        div#sponser
             img(src="/public/img/img-1.png")
             img(src="/public/img/img-2.png")
             img(src="/public/img/img-3.png")
             img(src="/public/img/img-4.png")